# Deployed PrizeLock contract on GenLayer Studionet
NEXT_PUBLIC_CONTRACT_ADDRESS=0xf461D7c97ed4f0A48BdD97d9fc49818bA09B0EAf

# GenLayer Studio RPC
NEXT_PUBLIC_GENLAYER_RPC_URL=https://studio.genlayer.com/api
NEXT_PUBLIC_GENLAYER_CHAIN_ID=61999
NEXT_PUBLIC_GENLAYER_CHAIN_NAME=GenLayer Studionet
NEXT_PUBLIC_GENLAYER_SYMBOL=GEN
