# Deployed PrizeLock contract on GenLayer Studionet
NEXT_PUBLIC_CONTRACT_ADDRESS=0xC6613989eb1d500FB4eC78a27c121C2Fa8Da247e

# GenLayer Studio RPC
NEXT_PUBLIC_GENLAYER_RPC_URL=https://studio.genlayer.com/api
NEXT_PUBLIC_GENLAYER_CHAIN_ID=61999
NEXT_PUBLIC_GENLAYER_CHAIN_NAME=GenLayer Studionet
NEXT_PUBLIC_GENLAYER_SYMBOL=GEN
